*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(5, 8, 27);
    animation: background 10s linear infinite;
}
@keyframes background {
    0% {
        background-color: rgb(5, 8, 27);
    }
    50%{
        background-color: rgb(9, 14, 46);
    }
    100%{
        background-color: rgb(5, 8, 27); 
    }
}

.contenedor{
    box-shadow:inset 0px 0px 500px black;
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.TxtG{
    width: 80%;
    position: absolute;
    height: 50%;
    top: 10%;
    text-align: center;
    font-size: 25px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boton{
    
    position: fixed;
    width: 500px;
    height: 300px;
    bottom: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button{
    box-shadow: 0px 0px 20px white;
    z-index: 100;
    cursor: pointer;
    width: 100px;
    height: 100px;
    position: absolute;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(45deg);
    border: none transparent;
}
.button .effect{
    width: 20px;
    height: 20px;
    border: 10px solid black;
    position: absolute;
}

.button::before{
    transition: all 200ms;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-top:5px solid white;
    border-right:5px solid white;
    top: -15%;
    right: -15%;
}
.button::after{
    transition: all 200ms;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-bottom:5px solid white;
    border-left:5px solid white;
    bottom: -15%;
    left: -15%;
}

.buttonActive::after{
    transition: all 200ms;
    bottom: -100%;
    left: -100%;
}
.buttonActive::before{
    transition: all 200ms;
    top: -100%;
    right: -100%;
}

.button .hitbox{
    border: none transparent black;
    z-index: 100;
    position: absolute;
    width: 100%;
    height: 100%;
}

.hitboxActive{
    transform: scale(4);
}

.buttonEffects{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 180px;
    position: absolute;
    transform: rotate(45deg);
    /* border-radius: 200px; */
    overflow: hidden;
    /* border: 10px solid grey; */

}
 .buttonEffects::before{
    transition: opacity 300ms;
    content: "";
    position: absolute;
    width: 50%;
    height: 140%;
    background: linear-gradient(#00ccff, #d400d4);
    /* border:5px solid white; */
    animation: rotate 10s linear infinite;
    
}

.buttonEffects::after{
    content: "";
    position: absolute;
    inset: 10px;
    background-color: rgba(0, 0, 0, 0.582);
}

.AbHidden::before{
    transition: opacity 300ms;
opacity: 0%;
}
.AbHidden::after{
    transition: opacity 300ms;
opacity: 0%;
}   



@keyframes rotate {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
